$background-colour: #FFFFFF;
$primary-colour: #000000;
$secondary-colour: #FFFFFF;
$accent-colour: #BEF202;
$muted-colour: #88C425;

$focus-colour: $secondary-colour;
$success-colour: $primary-colour;
$error-colour: red;

$modal-z: 10000;
$sticky-z: 1;
