$background-colour: #FFFFFF;
$primary-colour: #000000;
$secondary-colour: #FFFFFF;

$focus-colour: rgba($primary-colour, 0.1);
$success-colour: green;
$error-colour: red;

$modal-z: 10000;
$sticky-z: 1;

// Media queries
$mobile: "only screen and 
    (max-width: 500px) and (orientation: portrait),
    (max-width: 768px) and (orientation: landscape)";
$tablet: "only screen and 
    (min-width: 500px) and (max-width: 1024px) and (orientation: portrait)";
$computer: "only screen and (min-width: 1024px)";
$computer-and-tablet: "only screen and 
    (min-width: 500px) and (orientation: portrait),
    (min-width: 769px) and (orientation: landscape)";
