.diet-page-container {
  text-align: center;
}

.food-table {
  text-align: center;
  display: inline-block;

  .controls{
    padding: 5px 20px;
  }

  .table-controls{
    display: inline-block;
    width: 50%;
    text-align: left;
  }

  .entry-controls{
    display: inline-block;
    width: 50%;
    text-align: right;
  }
}

.food-name-input {
  position: relative;

  table {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    background-color: rgba(255,255,255,.8);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);

    tbody {
      white-space: nowrap;
      text-overflow: clip;
    }

    td, th {
      width: 100%;
      text-align: left;

      &.loading {
        text-align: center;
      }
    }
    tr {
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;

      &.selected {
        background-color: #88f;
      }
    }
  }
}
