@import 'variables';

.diet-page-container {
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;

  .empty-view {
    display: inline-block;
    width: 500px;
    color: rgb(50,50,50);
    margin: auto;

   .large-button {
      display: inline-block;
      border: solid 1px black;
      border-radius: 5px;
      width: 150px;
      height: 150px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(200,200,200);
      }
      i {
        display: block;
        width: 70px;
        height: 70px;
        margin: 20px auto;
        font-size: 70px;
      }
    }
  }

  .date .material-icons {
    vertical-align: top;
  }

  .entry-editor-form {
    > div {
      display: inline-block;
      width: 470px;
      margin: 10px;
      vertical-align: top;
    }
    .main-entry {
      label {
        text-align: left;
        display: block;
        span {
          display: inline-block;
          width: 100px;
          text-align: right;
          padding-right: 20px;
          margin: 9px 0;
        }
        input[type='text'] {
          width: 300px;
          display: inline-block;
        }
      }
    }
  }

  .food-table {
    text-align: center;
    display: inline-block;
    max-width: 750px;

    .controls{
      padding: 5px 20px;
      height: 32px;
    }
    .table-controls{
      display: inline-block;
      width: 50%;
      text-align: left;
    }
    .entry-controls{
      display: inline-block;
      width: 50%;
      text-align: right;
    }

    table {
      display: inline-block;
    }
    tr {
      &.new-entry {
        input[type='text'] {
          border-style: solid;
        }
      }
      &.entry {
        input[type='text'] {
          border-style: none;
          &:focus {
            border-style: solid;
          }
        }
      }
      &.status {
        td {
          text-align: center;
        }
      }
    }

    .react-datepicker-popper {
      z-index: 2;
    }
    .react-datepicker {
      left: -40px;
    }
  }

  .food-name-input {
    position: relative;

    table {
      position: absolute;
      z-index: 1;
      top: 35px;
      left: 0;
      background-color: rgba(255,255,255,.8);
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);

      tbody {
        white-space: nowrap;
        text-overflow: clip;
      }
      td, th {
        width: 100%;
        text-align: left;

        &.loading {
          text-align: center;
        }
      }
      tr {
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &.selected {
          background-color: $background-colour;
        }
      }
    }
  }

  .gallery {
    input[type='file'] {
      display: none;
    }
    i.material-icons.action {
      margin: 5px;
    }
    .controls {
      text-align: right;
      padding-right: 10px;
      input[type='file'] {
        display: none;
      }
    }
    .thumbnails {
      padding: 5px;
    }
  }

  .file-upload-dialog {
    display: inline-block;
  }
}

@media only screen and (min-width: 1366px) {
}

@media only screen and (min-width: 500px) and (max-width: 1024px) {
  .food-table {
    width: 100%;
    table {
      width: 100%;
    }
    col.numbers {
      width: 10px;
    }
    col.item {
      width: 100%;
    }
  }
}

// Phones
@media only screen and (max-width: 480px) {
  i.material-icons {
    font-size: 18px;
  }
  .food-table {
    width: 100%;
    font-size: 10px;
    table {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
    }
    col.numbers {
      width: 10px;
    }
    col.item {
      width: 100%;
    }
    th, td {
      padding: 3px;
    }
    input[type='text'] {
      font-size: 10px;
    }
  }
}
