@import 'variables';

.diet-page-container {
  text-align: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;

  .empty-view {
    display: inline-block;
    color: rgb(50,50,50);
    margin: auto;
    width: 100%;

   .large-button {
      display: inline-block;
      border: solid 1px black;
      border-radius: 5px;
      width: 150px;
      height: 150px;
      margin: 5px;
      cursor: pointer;
      &:hover {
        background-color: rgb(200,200,200);
      }
      i {
        display: block;
        width: 70px;
        height: 70px;
        margin: 20px auto;
        font-size: 70px;
      }
    }
  }

  .date .material-icons {
    vertical-align: middle;
  }

  .entry-editor-form {
    > div {
      box-sizing: border-box;
      display: inline-block;
      //width: 470px;
      width: 100%;
      padding: 10px;
      vertical-align: top;
    }
    .main-entry {
      label {
        text-align: left;
        display: block;
        position: relative;
        white-space: nowrap;
        span {
          position: absolute;
          display: inline-block;
          text-align: left;
          padding: 0 10px;
          margin: 9px 0;
          background-color: white;
          transition: 0.3s ease;
        }
        input[type='text'] {
          display: inline-block;
          margin: 1rem 0;
          margin-left: 120px;
          transition: 0.3s ease;
          width: calc(100% - 140px);
        }
        input[type='date'], input[type='time'] {
          margin: 1rem 0;
          margin-left: 120px;
        }
      }
      label.resize:focus-within {
        span {
          font-size: 10px;
          transform: translateY(-5px);
        }
        input[type='text'] {
          margin-top: 1.5rem;
          margin-bottom: 0.5rem;
          margin-left: 9px;
          margin-right: 90px;
          width: calc(100% - 20px);
        }
      }
    }
    .children-entries {
      table {
        display: block;
        overflow-x: scroll;
      }
    }
    .autocomplete {
      .search {
        white-space: nowrap;
        input {
          width: auto;
        }
      }
      .search-table {
        overflow: scroll;
      }
      .selected {
        background-color: black;
        color: white;
      }
    }
  }

  .food-name-input {
    position: relative;

    .table {
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      background-color: white;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
      max-width: 100%;
      box-sizing: border-box;
      overflow-x: scroll;

      tbody {
        white-space: nowrap;
        text-overflow: clip;
      }
      td, th {
        width: 100%;
        text-align: left;

        &.loading {
          text-align: center;
        }
      }
      tr {
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;

        &.selected {
          background-color: rgba(0,0,0,0.1);
        }
      }
    }
  }

  .food-table {
    display: none;
  }

  .mobile-food-table {
    .total {
      margin: 5px;
      background-color: rgb(200,200,200);
    }
    .entries {
      border-top: 1px solid black;
      .empty-view {
        width: 90%;
        height: 50vh;
      }
      .entry {
        width: 100%;
        text-align: left;
        border-bottom: 1px solid rgb(100,100,100);
        position: relative;
        padding: 5px;
        padding-left: 30px;
        box-sizing: border-box;

        .indentations {
          position: absolute;
          left: 0;
          top: 0;
          background-color: rgb(100,100,100);
          height: 100%;
          margin: 0;
          .indentation {
            display: inline-block;
            width: 10px;
            height: 100%;
            margin: 0;
            border-right: 1px solid black;
          }
        }

        .selected-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          margin: 0;
          background-color: rgba(white, 0.8);
          line-height: 0;

          i.action {
            position: relative;
            cursor: pointer;
            line-height: 0;
            top: 50%;
            margin: 0 10px;

            a {
              text-decoration: none;
            }

            input[type='date'] {
              width: 0;
              height: 0;
              padding: 0;
              border: 0;
            }
          }
        }

        div {
          margin: 3px;
          &.name {
            height: 50%;
            max-width: calc(100% - 30px);
          }
          &.values {
            height: 50%;
            font-size: 10px;
            padding-left: 20px;
            color: rgb(100,100,100);
            span {
              margin-right: 10px;
            }
          }
        }

        > a {
          position: absolute;
          top: 0;
          right: 5px;
          height: 100%;
          width: 30px;
          i.material-icons {
            position: absolute;
            font-size: 30px;
            line-height: 0;
            top: 50%;
          }
        }
      }
    }
    .controls {
      background-color: white;
      border: 1px solid black;
      position: fixed;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;

      > * {
        margin: 5px;
      }

      i.material-icons {
        cursor: pointer;
      }
    }
  }

  .gallery {
    input[type='file'] {
      display: none;
    }
    i.material-icons.action {
      margin: 5px;
    }
    .controls {
      text-align: right;
      padding-right: 10px;
      input[type='file'] {
        display: none;
      }
    }
    .thumbnails {
      padding: 5px;
    }
  }

  .file-upload-dialog {
    display: inline-block;
  }
}

@media #{$computer-and-tablet} {
  .diet-page-container {
    .food-table {
      text-align: center;
      display: inline-block;
      max-width: 750px;

      .controls{
        padding: 5px 20px;
        height: 32px;
        label {
          position: relative;
          input {
            // Mainly for date pickers
            width: 0;
            height: 0;
            padding: 0;
            margin: 0;
            border: 0;
            position: absolute;
            top: 100%;
            left: 0;
          }
        }
      }
      .table-controls{
        display: inline-block;
        width: 50%;
        text-align: left;
      }
      .entry-controls{
        display: inline-block;
        width: 50%;
        text-align: right;
      }

      table {
        display: inline-block;
      }
      tr {
        &.new-entry {
          input[type='text'] {
            border-style: solid;
          }
        }
        &.entry {
          input[type='text'] {
            border-style: none;
            &:focus {
              border-style: solid;
            }
          }
        }
        &.status {
          td {
            text-align: center;
          }
        }
      }
      td {
        white-space: nowrap;
        .indentation {
          display: inline-block;
          width: 1rem;
          &:after {
            content: '-';
          }
        }
      }

      .react-datepicker-popper {
        z-index: 2;
      }
      .react-datepicker {
        left: -40px;
      }
    }
    .food-table {
      width: 100%;
      table {
        width: 100%;
      }
      col.numbers {
        width: 10px;
      }
      col.item {
        width: 100%;
      }
    }
    .empty-view {
      width: 500px;
    }
    .entry-editor-form {
      > div {
        width: 470px;
      }
      .main-entry {
        label {
          span {
            background-color: inherit;
          }
          input {
            background-color: rgba(0,0,0,0);
            &[type='date'], &[type='time'] {
              border: none;
              border-bottom: 1px solid rgba(0,0,0,0.4);
              height: 2rem;
            }
          }
        }
      }
      .children-entries {
        table {
          overflow-x: auto;
        }
      }
      .autocomplete {
        width: auto;
        .search-table {
          overflow: auto;
        }
      }
    }
    .food-name-input {
      .table {
        max-width: unset;
      }
    }
    .mobile-food-table {
      display: none;
    }
  }
}
