.home-page-container {
  text-align: center;
  width: 1000px;
  display: inline-block;

  input[type='text'] {
    width: 100px;
  }

  span {
    font-weight: bold;
  }

  .progress-bar {
    text-align: center;
  }
  svg {
    width: unset;
    rect.total {
      fill: rgba(white,0.5);
      stroke: black;
      stroke-width: 1px;
    }
    rect.progress{
      fill: green;
      stroke: black;
      stroke-width: 1px;
    }
    text {
      font-size: 16px;
    }
  }
}
