@import '_variables';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-image: url('images/background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  background-color: #cbbdb0;
  color: $primary-colour;
  text-align: center;
  position:relative;
  min-height:100vh;
}

.background {
  position:fixed;
  width: 1000px;
  top:0px;
  bottom:0px;
  background:inherit;
  background-color: #cbbdb0;
  background-image: url('images/background.jpeg');
  background-attachment: fixed;
  background-size: cover;
  z-index:-1;
  overflow:hidden;

  &::before {
    content:'';
    display:block;
    background:inherit;
    width:100%;
    height:100%;
    filter: blur(15px);
  }
  
  &::after {
    content: '';
    display: block;
    position: absolute;
    top:0px;
    bottom:0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1);
  }
}

nav {
  background: #000;
  text-align: left;
  white-space: nowrap;
  border-bottom: 1px solid;
  ul {
    display: inline-block;
  }
  div {
    display: inline-block;
    text-align: right;
    margin: 15px;
    float: right;
  }
  li {
    display: inline-block;
    margin: 0.1rem 1rem;
  }
  a {
    text-decoration: none;
    color: #FFF;
    &:hover {
      text-decoration: underline;
    }
  }
}

a {
  color: $primary-colour;
}

input {
  &[type=text], &[type=password] {
    width: 100%;
    color: $primary-colour;
    background-color: rgba(0,0,0,0);
    width: 100%;
    padding: 3px 5px;
    margin: 5px 0;
    box-sizing: border-box;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: rgba($primary-colour,0.4);
    font-size: 16px;
    font-family: sans-serif;

    transition: 0.3s ease;
    &:focus {
      border-color: rgba($primary-colour,1);
    }

    &.valid {
      box-shadow: 0 0 5px 0 rgba($success-colour,.5);
      border-radius: 3px;
    }

    &.invalid {
      box-shadow: 0 0 5px 0 rgba($error-colour,.5);
      border-radius: 3px;
    }
  }
  &[type=button], &[type=submit] {
    width: 100%;
  }
}

input[type=button], input[type=submit], button {
  background-color: $primary-colour;
  color: white;
  border: none;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  outline: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    background-color: $focus-colour;
  }
}

svg {
  width: 100%;
  height: 100%;

  path {
    fill: none;
    stroke: $primary-colour;
    stroke-width: 1px;
  }

  circle {
    fill: $primary-colour;
  }

  text {
    font-size: 10px;
    fill: $primary-colour;
  }

  .x-axis, .y-axis {
    stroke: rgba($primary-colour, 0.5);
    stroke-width: 1px;
    .tick {
      fill: rgba(0,0,0,0.5);
      stroke: rgba(0,0,0,0.5);
    }
  }
}

div.success-message {
  font-size: 10px;
  color: $success-colour;
}

div.error-message {
  font-size: 10px;
  color: $error-colour;
}

div.react-datepicker-wrapper {
  cursor: pointer;
}

div.loading {
  background-color: rgba($primary-colour, 0.2);
  color: rgba($primary-colour, 0.5);
  border: 0px;
  * {
    color: rgba($primary-colour, 0.5);
  }
}

.loader {
  display: inline-block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.modal-background {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
  display: none;

  &.visible {
    display: block;
  }

  div.modal {
    background: $background-colour;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $accent-colour;
    display: inline-block;
    text-align: left;
    min-width: 500px;
    border-radius: 5px;

    div.close {
      float: right;
      cursor: pointer;
    }

    div.modal-header {
      display: block;
      width: 100%;
      font-size: 24pt;
      white-space: nowrap;
      margin-right: 50px;
      border-bottom: 1px solid $accent-colour;
    }

    div.modal-body {
      margin: 10px;
    }

    div.modal-footer {
      text-align: right;
    }
  }
}

table {
  border-collapse:collapse;
  col {
    &.numbers {
      width: 100px;
    }
  }
  tr {
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-color: rgba($muted-colour, 0.4);
  }
  td, th {
    text-align: left;
    margin: 10px;
    padding: 5px 20px;
    border: 0;
  }
}

.dropdown-checkbox input{
  display: none;
}

@media only screen and (max-width: 768px) {
  .hide-tablet {
    display: none;
  }

  div.modal-background {
    div.modal {
      min-width: 0;
      width: 80%;
    }
  }

  .background {
    background-image: none;
  }
}

@media only screen and (max-width: 320px) {
  .hide-mobile{
    display: none;
  }
}
