@import '_variables';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: $primary-colour;
  text-align: center;
  position:relative;
  min-height:100vh;
}

main {
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  max-width: 1000px;
}

div.notification-container {
  position: fixed;
  top: 0;
  padding: 20px;
  z-index: 10;
  .notification {
    text-align: left;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 10px;
  }
}

a {
  color: $primary-colour;
  outline: none;
}

input {
  &[type=text], &[type=password], &[type=search], &[type=email], &[type=range], &[type=date], &[type=time], &[type=number], &[type=checkbox], &[type=radio] {
    //width: 100%;
    vertical-align: top;
    color: $primary-colour;
    background-color: rgba(0,0,0,0);
    height: 32px;
    padding: 3px 5px;
    margin: 5px;
    box-sizing: border-box;
    border: 1px solid rgba($primary-colour,0.4);
    border-radius: 5px;
    font-size: 16px;

    transition: 0.3s ease;
    &:focus {
      border-color: rgba($primary-colour,1);
    }

    &.valid {
      box-shadow: 0 0 5px 0 rgba($success-colour,.5);
    }

    &.invalid {
      box-shadow: 0 0 5px 0 rgba($error-colour,.5);
    }
  }
}

input[type=button], input[type=submit], button {
  background-color: $background-colour;
  color: $primary-colour;
  border: 1px solid $primary-colour;
  margin: 5px;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  box-shadow: 2px 4px 4px $primary-colour;

  &:active {
    transform: translateY(4px);
    box-shadow: 0 0 2px $primary-colour;
  }

  &.negative {
    background-color: rgb(200,0,0);
    &:focus {
      background-color: rgb(200,50,50);
    }
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    background-color: $focus-colour;
  }

  &.disabled {
    color: rgb(128,128,128);
    cursor: initial;
  }
}

svg {
  width: 100%;
  height: 100%;

  path {
    fill: none;
    stroke: $primary-colour;
    stroke-width: 1px;
  }

  circle {
    fill: $primary-colour;
  }

  text {
    font-size: 10px;
    fill: $primary-colour;
  }

  .x-axis, .y-axis {
    stroke: rgba($primary-colour, 0.5);
    stroke-width: 1px;
    .tick {
      fill: rgba(0,0,0,0.5);
      stroke: rgba(0,0,0,0.5);
    }
  }
}

i.action {
  cursor: pointer;
  margin: 5px;
  &:hover {
    color: rgba($primary-colour, 0.7);
  }
}

div.success-message {
  font-size: 10px;
  color: $success-colour;
}

div.error-message {
  font-size: 10px;
  color: $error-colour;
}

div.react-datepicker-wrapper {
  cursor: pointer;
}

div.loading {
  background-color: rgba($primary-colour, 0.2);
  color: rgba($primary-colour, 0.5);
  border: 0px;
  * {
    color: rgba($primary-colour, 0.5);
  }
}

.loader {
  display: inline-block;
  border: 3px solid #f3f3f3; /* Light grey */
  border-top: 3px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

div.modal-background {
  z-index: 10000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: center;
  display: none;

  &.visible {
    display: block;
  }

  div.modal {
    background: $background-colour;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid $primary-colour;
    display: inline-block;
    text-align: left;
    min-width: 500px;
    border-radius: 5px;

    div.close {
      float: right;
      cursor: pointer;
    }

    div.modal-header {
      display: block;
      width: 100%;
      font-size: 24pt;
      white-space: nowrap;
      margin-right: 50px;
      border-bottom: 1px solid $primary-colour;
    }

    div.modal-body {
      margin: 10px;
    }

    div.modal-footer {
      text-align: right;
    }
  }
}

table {
  border-collapse: collapse;
  col {
    &.numbers {
      width: 100px;
    }
  }
  tr {
    border-bottom: solid 1px;
    border-top: solid 1px;
    border-color: rgba($primary-colour, 0.1);
    &:hover {
      background-color: rgba(0,0,0,0.1);
    }
    &.status td {
      text-align: center;
    }
  }
  td, th {
    text-align: left;
    margin: 10px;
    padding: 5px 20px;
    border: 0;
    &[colspan='999'] {
      text-align: center;
      //background-color: rgba(0,0,0,0.4);
    }
  }
}

.dropdown-checkbox input{
  display: none;
}

@media #{$computer-and-tablet} {
  body {
    //background-image: url('images/background.jpeg');
    //background-attachment: fixed;
    //background-size: cover;
    //background-color: #cbbdb0;
  }

  h2 {
    margin-top: 100px;
  }

  //.background {
  //  position: fixed;
  //  width: 100%;
  //  max-width: 1000px;
  //  top: 0px;
  //  bottom: 0px;
  //  background: inherit;
  //  background-color: #cbbdb0;
  //  background-image: url('images/background.jpeg');
  //  background-attachment: fixed;
  //  background-size: cover;
  //  z-index: -1;
  //  overflow: hidden;

  //  &::before {
  //    content:'';
  //    display:block;
  //    background:inherit;
  //    width:100%;
  //    height:100%;
  //    filter: blur(15px);
  //  }
  //  
  //  &::after {
  //    content: '';
  //    display: block;
  //    position: absolute;
  //    top:0px;
  //    bottom:0px;
  //    width: 100%;
  //    height: 100%;
  //    background-color: rgba(0,0,0,0.1);
  //  }
  //}
}

@media #{$computer} {
}

@media #{$tablet} {
  .hide-tablet {
    display: none;
  }

  div.modal-background {
    div.modal {
      min-width: 0;
      width: 80%;
    }
  }
}

@media #{$mobile} {
  .hide-mobile{
    display: none;
  }
}
